@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Smart Shop</h1>
    <p> Welcome to the smart shop</p>

    <h>I Want To</h>
    <a asp-controller="Login" asp-action="LoginView">LOG IN</a><br />
    <a asp-controller="Login" asp-action="Login">Create NEW USER</a>
</div>
